{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %} Welcome to covfefe blog {% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        {% block scripts %}{% endblock %}
    </head>

    <body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home_page' %}">
                  <img alt="Brand" src="{% static 'img/logo.png' %}" class="img-responsive">
                  Covfefe Blog
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                {% if user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'logout_page' %}">Logout</a></li>
                  </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div> <!-- /.container -->
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span class="text-muted">{{ message }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <footer id="footer">
              <div class="container">
                    <p class="text-muted">&copy; {% now "Y" %} Holy Motors Incorporated </p>
              </div>
        </footer>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>


</html>