{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %} Welcome to covfefe blog {% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block scripts %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout_page' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="content-messages">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>