{%  for post in posts %}
    {% include 'post.html' %}
{% empty %}
    <ul>
        <li>{{ empty_message }}</li>
    </ul>
{% endfor %}
{% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">Previous page</a></li>
        {% else %}
          <li class="disabled"><span>Previous page</span></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">Next page</a></li>
        {% else %}
          <li class="disabled"><span>Next page</span></li>
        {% endif %}
      </ul>
{% endif %}